*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
/.settings
/.classpath
/bin/
/doc

/target/

# gradle
.gradle
build
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# OS X
.DS_Store
